* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body, 
  button,
  input,
  select,
  textarea{
    font-family: "Bebas Neue", serif;
    font-weight: 500;
    font-style: normal;
  }
  body{
    background-color: #c9f5eaf7;
  }
  header{
    background-color: azure;
    height: 70px;
  }
  /* BARRA DE NAVEGAÇÃO */
  header #navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 0 2rem;
    max-width: 1200px;
    margin: 0 auto;
    height: 80px;
  }
  header #navbar .nav-brand{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 800;
    color: black;
  }
  header #navbar .nav-list{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  header #navbar .nav-list .nav-item a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
  }
  header #navbar .nav-list .nav-item a:hover{
    color: gray;
    transition: 0.3s;
  }